name: CI
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc libsqlite3-dev libsqlcipher-dev libssl-dev
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install uv
      run: pip install uv
    - name: Install dependencies
      run: uv sync --dev
    - name: Lint with ruff
      run: |
        uv run ruff check
        uv run ruff format
    - name: Test with pytest
      run: |
        uv run pytest

  docker-image-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
          - linux/arm/v7
          - linux/386
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build Docker image
        run: |
          docker build \
            -t {{ env.IMAGE_NAME }}:${{ github.ref_name }}-test \
            .
      - name: Run test
        run: |
          docker run --platform ${{ matrix.platform }} ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-test bw --version